/* LOGIN MODAL */
#adminLoginModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* DASHBOARD */
#adminDashboard {
  display: none;
  padding: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: black;
  color: white;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}